{% extends 'base.html' %}
{% block title %}Create new blog post{% endblock title %}
{% block content %}


<style>
    .django-ckeditor-widget div {
        width: 1110px;
    }
</style>


{% if user.is_authenticated %}
    <h1>Add blog posts</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <div class='text-center'>  
                <button class="btn btn-success btn-lg btn-block">Post</button>
            </div>
        </form>
    </div>
{% else %}
The page is only for registered users.
{% endif %}


<script>
    var name = "{{ user.id }}";
    document.getElementById('author').value 
        = name;
</script>
{% endblock content %}


