{% extends 'base.html' %}
{% block title %}{{ blogpost.title_tag }}{% endblock title %}
{% block content %}

<style>
    .media img {
        border-radius: 50%;
        padding: 5px;
        width: 70px;
      }
</style>


<h1> {{ blogpost.title }} - @{{ blogpost.author }}</h1>
<div class="container">
    <div class="row">
      <div class="col">
        <a href="{% url 'user_readlater' blogpost.id %}" class="btn btn-success btn-sm" role="button" aria-pressed="true">To wishlist</a></div>
      </div>
    </div>
</div>




<div class="container pt-1">
    {% if messages %}
        <div class="alert alert-success text-center" alert-"{{ message.tags }}" role="alert">
        {% for message in messages  %}
            {{message|safe}}
        {% endfor %}
        </div>
    {% endif %}
</div>
<small><strong>Posted </strong>{{ blogpost.creation_date|timesince }}</small>
<br/>
<small> By: 
    @{{ blogpost.author }}

    {% if user.is_authenticated %}
        {% if user.id == blogpost.author.id %}
            <a href="{% url 'edit_blogpost' blogpost.pk %}"> Edit</a> 
            <a href="{% url 'delete_blogpost' blogpost.pk %}"> Delete</a></small>
        {% endif %}
    {% endif %}
<hr>
<br/>
{{ blogpost.body|safe }}
{% if blogpost.image %}
    <img src="{{ blogpost.image.url }}">
{% endif %}


<hr>
<h2>Comments:</h2>
 {% if not blogpost.comments.all %}
    <p>No comments yet</p>
{% else %}
    {% for comment in blogpost.comments.all %}
       {% comment %} <strong>@{{ comment.user.username }} - {{ comment.created_at }}</strong>
        <br/>
        <small>{{ comment.content }}</small> {% endcomment %}
        <div class="media">
            {% if comment.user.profile.photo %}
                <img class="align-self-center mr-3 profile" src="{{ comment.user.profile.photo.url }}" alt="Generic placeholder image">
            {% endif %} 
            <div class="media-body">
              <h3 class="mt-0">@{{ comment.user.username }}</h3>
              <small>{{ comment.created_at }}</small>
              <br/>
              <i> {{ comment.content }}</i>
            </div>
          </div>
        <br/><br/>
    {% endfor %}
{% endif %}


<hr>
{% if user.is_authenticated %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class='form-group'>
                            {{form.as_p}}
                        </div>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<hr>
<div class="col-6">
    <span>{{ blogpost.likes }} likes <span>
</div>
  <div class="col-6">
    <a href="{% url 'like' blogpost.pk %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
            <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
            <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
        </svg>
    </a>
  </div>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-success">Back</a>

{% endblock content %}