{% extends 'base.html' %}
{% block title %}{{ blogpost.title_tag }}{% endblock title %}
{% block content %}

<h1> {{ blogpost.title }}</h1>
<small><strong>Posted </strong>{{ blogpost.creation_date|timesince }}</small>
<br/>
<small> By: 
    @{{ blogpost.author }}
    {% if user.is_authenticated %}
        <a href="{% url 'edit_blogpost' blogpost.pk %}"> Edit</a> 
        <a href="{% url 'delete_blogpost' blogpost.pk %}"> Delete</a></small>
    {% endif %}
<hr>
<br/>
{{ blogpost.body|slice:":255" }}


<br/><br/>
<a href="{% url 'home' %}" class="btn btn-success">Back</a>

{% endblock content %}