{% extends 'base.html' %}
{% block title %}{{ blogpost.title_tag }}{% endblock title %}
{% block content %}

<h1> {{ blogpost.title }} - @{{ blogpost.author }}</h1>
<small><strong>Posted </strong>{{ blogpost.creation_date|timesince }}</small>
<br/>
<small> By: 
    @{{ blogpost.author }}

    {% if user.is_authenticated %}
        {% if user.id == blogpost.author.id %}
            <a href="{% url 'edit_blogpost' blogpost.pk %}"> Edit</a> 
            <a href="{% url 'delete_blogpost' blogpost.pk %}"> Delete</a></small>
        {% endif %}
    {% endif %}
<hr>
<br/>
{{ blogpost.body|safe }}
{% if blogpost.image %}
    <img src="{{ blogpost.image.url }}">
{% endif %}
<hr>
{% if user.is_authenticated %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form method="POST" action="{% url 'blogview' blogpost.pk %}">
                        {% csrf_token %}
                        <div class='form-group'>
                            {{ form_com }}
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<hr>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-success">Back</a>

{% endblock content %}