{% extends 'base.html' %}
{% block title %}Edit blogpost{% endblock title %}
{% block content %}


<style>
    .django-ckeditor-widget div {
        width: 1110px;
    }
</style>


{% if user.is_authenticated %}
    {% if user.id == blogpost.author.id %}
        <h1>Edit blog posts</h1>
        <br/><br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-success">Post</button>
            </form>
        </div>
    {% else %}
    Blog can be edited by it's creator.
    {% endif %}
{% else %}
The page is only for registered users.
{% endif %}

{% endblock content %}