{% extends 'base.html' %}
{% block content %}

<style>
    .blog-img img {
        width: 320px;
        height: 200px;
    }
</style>


<h1 class='text-center'>{{ user.username }} blogs</h1>
<div class="album py-5 bg-light">
    <div class="container">
        <h1>My blogs:</h1>
        {% if blogposts %}
            {% for blogpost in blogposts %}
            <div class="card mb-3" style="max-width: 1040px; max-height: 250px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="blog-img">
                            <img src="{{ blogpost.image.url }}" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <a href="{% url 'blogview' blogpost.pk %}"><h5 class="card-title">{{ blogpost.title }}</h5></a>
                        <p class="card-text">{{ blogpost.body|slice:":250"|safe }}...</p>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} {{ blogpost.title }} {% endcomment %}
            {% endfor %}
        {% else %}
        <p> No blogs written</p>
        {% endif %}
        <hr>
        <br/>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center"> 
        {% if blogposts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ blogposts.previous_page_number }}">Previous</a></li>
        {% endif %} 
        {% for i in nums %}
            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% if blogposts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ blogposts.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ blogposts.paginator.num_pages }}">Last &raquo</a></li>
        {% endif %}
        </ul>
        </nav>
    </div>
</div>
{% endblock content %}