{% extends 'base.html' %}
{% block title %}Other user profile{% endblock title %}
{% block content %}


<style>
    .blog-img img {
        width: 220px;
        height: 148px;
    }
</style>


<h1>View profile {{ page_user.user.username }}</h1>
<div class="card mb-3" style="max-width: 940px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ page_user.user.profile.photo.url }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user.username }}</h5>
          <p class="card-text">{{ page_user.user.profile.about }}</p>
        </div>
      </div>
    </div>
</div>
<hr>
<div class="album py-5 bg-light">
    <div class="container text-center">
        <h1>Read {{ page_user.user.username }} blogs:</h1>
        {% if page_user.user.blog_posts %}
            {% for blogpost in page_user.user.blog_posts.all %}
            <div class="card mb-3" style="max-width: 640px; max-height: 150px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="blog-img">
                        <img src="{{ blogpost.image.url }}" class="card-img" alt="...">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <a href="{% url 'blogview' blogpost.pk %}"><h5 class="card-title">{{ blogpost.title }}</h5></a>
                    <p class="card-text">{{ blogpost.body|slice:":50"|safe }}...</p>
                    </div>
                </div>
                </div>
            </div>
            {% comment %} {{ blogpost.title }} {% endcomment %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}