{% extends 'base.html' %}
{% block title %}Change password{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">
                            <div class='text-center'>
                                <h1>Change password</h1>
                            </div>
                            <br/><br/>
                            <div class="form-group">
                                <form method="POST">
                                    {% csrf_token %}
                                    <p>
                                        <label for="id_old_password">Old password:</label>
                                        <input type="password" name="old_password" class="form-control mb-3" required id="id_old_password">
                                    </p>
                                    <p>
                                        <label for="id_new_password1">New password:</label>
                                        <input type="password" name="new_password1" class="form-control mb-3" required id="id_new_password1"> 
                                    </p>
                                    <p>
                                        <label for="id_new_password2">Repeat new password:</label>
                                        <input type="password" name="new_password2" class="form-control mb-3" required id="id_new_password2">
                                    </p>
                                    <div class="container text-center">
                                        <button class="btn btn-success">Confirm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}