{% extends "base.html" %}
{% block title %}Profile deleted{% endblock %}
{% block content %}

<style>

    .container-fluid {
        max-width: 100%;
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mx-auto">
                            <div class="p-4">
                                <div class="alert alert-success" role="alert">
                                    Account deleted successfully.
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}