{% extends 'base.html' %}
{% block title %}Edit User Profile{% endblock title %}
{% block content %}


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">
                            <div class='text-center'>
                                <h1>Edit User profile</h1>
                            </div>
                            <br/><br/>
                            <div class="form-group">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div>{{ user_form.first_name.label }}</div>
                                    <div>{{ user_form.first_name }}</div>
                                    <div>{{ user_form.last_name.label }}</div>
                                    <div>{{ user_form.last_name }}</div>
                                    <div>{{ user_form.email.label }}</div>
                                    <div>{{ user_form.email }}</div>
                                    <div>{{ profile_form.about.label }}</div>
                                    <div>{{ profile_form.about }}</div>
                                    <div>{{ profile_form.photo.label }}</div>
                                    <div>{{ profile_form.photo }}</div>
                                    <div class="container text-center mt-5">
                                        <button class="btn btn-success">Confirm</button>
                                    </div>
                                </form>
                            </div>
                            <p class="text-center pb-3 mt-5">
                                <a href="{% url 'change_password' %}">Click here to change password</a>
                            </p>
                            </br>
                            <hr>
                            <form class="align-items-center" action="{% url 'delete_profile' %}" method="post">
                                {% csrf_token %}
                                <p class=" h3 pt-4 font-weight-bold">Delete Account</p>
                                <p>Click the button below to delete your account.</p>
                                <button type="submit" role="button"
                                    class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}