{% extends 'base.html' %}
{% block title%}Password reset form {{ block.super}} {% endblock title%}
{% block content%}
<h1 class="mt-5">Reset password </h1>
{% if validlink %}
    <form action"" method = "post">
        {% csrf_token %}
        <p>
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        </p>
        <p>
            <label for="id_new_password2">New password confirmation:</label></th>
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </p>
        <button class="btn btn-success btn-lg" type = "submit">Reset password</button>
        <div class="alert alert-danger mt-2" role="alert">
            {{ form.errors }}
        </div>
    </form>
{% else %}
    <p class="form-error">Error: bad link. Please request <a href="{% url 'password_reset' %}"> password reset </a> again.</p>
{% endif %}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock content%}
